@model TSystems.MMS.Bewerbungsgenerator.Models.Form

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FristName" class="control-label"></label>
                <input asp-for="FristName" class="form-control" />
                <span asp-validation-for="FristName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organisation" class="control-label"></label>
                <input asp-for="Organisation" class="form-control" />
                <span asp-validation-for="Organisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motivation" class="control-label"></label>
                <textarea asp-for="Motivation" class="form-control"></textarea>
                <span asp-validation-for="Motivation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Study" /> @Html.DisplayNameFor(model => model.Study)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TheRight" class="control-label"></label>
                <textarea asp-for="TheRight" class="form-control"></textarea>
                <span asp-validation-for="TheRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstInvitation" class="control-label"></label>
                <input asp-for="FirstInvitation" class="form-control" />
                <span asp-validation-for="FirstInvitation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Accepted" /> @Html.DisplayNameFor(model => model.Accepted)
                </label>
            </div>            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
